# Udacity Project: Commuticate Data Findings  <br>  
  
## PISA 2012  <br>  

Written by Wooyoul Na

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

In [2]:
pd.read_csv('pisadict2012.csv',encoding='cp1252')

     Unnamed: 0                                                  x
0           CNT                           Country code 3-character
1      SUBNATIO  Adjudicated sub-region code 7-digit code (3-di...
2       STRATUM  Stratum ID 7-character (cnt + region ID + orig...
3          OECD                                       OECD country
4            NC                       National Centre 6-digit Code
5      SCHOOLID  School ID 7-digit (region ID + stratum ID + 3-...
6       STIDSTD                                         Student ID
7       ST01Q01                                International Grade
8       ST02Q01                           National Study Programme
9       ST03Q01                                      Birth - Month
10      ST03Q02                                        Birth -Year
11      ST04Q01                                             Gender
12      ST05Q01                                   Attend <ISCED 0>
13      ST06Q01                                   Age at <ISCED 1>
14      ST07Q01                                 Repeat - <ISCED 1>
15      ST07Q02                                 Repeat - <ISCED 2>
16      ST07Q03                                 Repeat - <ISCED 3>
17      ST08Q01                          Truancy - Late for School
18      ST09Q01                    Truancy - Skip whole school day
19     ST115Q01           Truancy - Skip classes within school day
20      ST11Q01                                   At Home - Mother
21      ST11Q02                                   At Home - Father
22      ST11Q03                                 At Home - Brothers
23      ST11Q04                                  At Home - Sisters
24      ST11Q05                             At Home - Grandparents
25      ST11Q06                                   At Home - Others
26      ST13Q01                          Mother<Highest Schooling>
27      ST14Q01            Mother Qualifications - <ISCED level 6>
28      ST14Q02           Mother Qualifications - <ISCED level 5A>
29      ST14Q03           Mother Qualifications - <ISCED level 5B>
..          ...                                                ...
605    W_FSTR55           FINAL STUDENT REPLICATE BRR-FAY WEIGHT55
606    W_FSTR56           FINAL STUDENT REPLICATE BRR-FAY WEIGHT56
607    W_FSTR57           FINAL STUDENT REPLICATE BRR-FAY WEIGHT57
608    W_FSTR58           FINAL STUDENT REPLICATE BRR-FAY WEIGHT58
609    W_FSTR59           FINAL STUDENT REPLICATE BRR-FAY WEIGHT59
610    W_FSTR60           FINAL STUDENT REPLICATE BRR-FAY WEIGHT60
611    W_FSTR61           FINAL STUDENT REPLICATE BRR-FAY WEIGHT61
612    W_FSTR62           FINAL STUDENT REPLICATE BRR-FAY WEIGHT62
613    W_FSTR63           FINAL STUDENT REPLICATE BRR-FAY WEIGHT63
614    W_FSTR64           FINAL STUDENT REPLICATE BRR-FAY WEIGHT64
615    W_FSTR65           FINAL STUDENT REPLICATE BRR-FAY WEIGHT65
616    W_FSTR66           FINAL STUDENT REPLICATE BRR-FAY WEIGHT66
617    W_FSTR67           FINAL STUDENT REPLICATE BRR-FAY WEIGHT67
618    W_FSTR68           FINAL STUDENT REPLICATE BRR-FAY WEIGHT68
619    W_FSTR69           FINAL STUDENT REPLICATE BRR-FAY WEIGHT69
620    W_FSTR70           FINAL STUDENT REPLICATE BRR-FAY WEIGHT70
621    W_FSTR71           FINAL STUDENT REPLICATE BRR-FAY WEIGHT71
622    W_FSTR72           FINAL STUDENT REPLICATE BRR-FAY WEIGHT72
623    W_FSTR73           FINAL STUDENT REPLICATE BRR-FAY WEIGHT73
624    W_FSTR74           FINAL STUDENT REPLICATE BRR-FAY WEIGHT74
625    W_FSTR75           FINAL STUDENT REPLICATE BRR-FAY WEIGHT75
626    W_FSTR76           FINAL STUDENT REPLICATE BRR-FAY WEIGHT76
627    W_FSTR77           FINAL STUDENT REPLICATE BRR-FAY WEIGHT77
628    W_FSTR78           FINAL STUDENT REPLICATE BRR-FAY WEIGHT78
629    W_FSTR79           FINAL STUDENT REPLICATE BRR-FAY WEIGHT79
630    W_FSTR80           FINAL STUDENT REPLICATE BRR-FAY WEIGHT80
631    WVARSTRR           RANDOMIZED FINAL VARIANCE STRATUM (1-80)
632    VAR_UNIT                    RANDOMLY ASSIGNED VARIANCE UNIT
633  SENWGT_STU  Senate weight - sum of weight within the count...
634     VER_STU                      Date of the database creation

[635 rows x 2 columns]

## Data Cleaning

### Gather

In [3]:
pisa2012 = pd.read_csv('pisa2012.csv',encoding='cp1252')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (15,16,17,21,22,23,24,25,26,30,31,36,37,45,65,123,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,475) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Assess

In [4]:
pisa2012.head()

,Unnamed: 0,CNT,SUBNATIO,STRATUM,OECD,NC,SCHOOLID,STIDSTD,ST01Q01,ST02Q01,...,W_FSTR75,W_FSTR76,W_FSTR77,W_FSTR78,W_FSTR79,W_FSTR80,WVARSTRR,VAR_UNIT,SENWGT_STU,VER_STU
0,1,Albania,80000,ALB0006,Non-OECD,Albania,1,1,10,1.0,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
1,2,Albania,80000,ALB0006,Non-OECD,Albania,1,2,10,1.0,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
2,3,Albania,80000,ALB0006,Non-OECD,Albania,1,3,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
3,4,Albania,80000,ALB0006,Non-OECD,Albania,1,4,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
4,5,Albania,80000,ALB0006,Non-OECD,Albania,1,5,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13

In [5]:
pisa2012.shape

(485490, 636)

In [6]:
pisa2012.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485490 entries, 0 to 485489
Columns: 636 entries, Unnamed: 0 to VER_STU
dtypes: float64(250), int64(18), object(368)
memory usage: 2.3+ GB

In [7]:
## Check if duplicated cases have been contained
pisa2012.duplicated(['NC','SUBNATIO','STRATUM','SCHOOLID','STIDSTD']).any()

False

In [8]:
# counts by OECD and Non-OECD
pisa2012.OECD.value_counts()

OECD        295416
Non-OECD    190074
Name: OECD, dtype: int64

In [68]:
pisa2012.CNT.unique()

array(['Albania', 'United Arab Emirates', 'Argentina', 'Australia',
       'Austria', 'Belgium', 'Bulgaria', 'Brazil', 'Canada',
       'Switzerland', 'Chile', 'Colombia', 'Costa Rica', 'Czech Republic',
       'Germany', 'Denmark', 'Spain', 'Estonia', 'Finland', 'France',
       'United Kingdom', 'Greece', 'Hong Kong-China', 'Croatia',
       'Hungary', 'Indonesia', 'Ireland', 'Iceland', 'Israel', 'Italy',
       'Jordan', 'Japan', 'Kazakhstan', 'Korea', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao-China', 'Mexico',
       'Montenegro', 'Malaysia', 'Netherlands', 'Norway', 'New Zealand',
       'Peru', 'Poland', 'Portugal', 'Qatar', 'China-Shanghai',
       'Perm(Russian Federation)', 'Florida (USA)', 'Connecticut (USA)',
       'Massachusetts (USA)', 'Romania', 'Russian Federation',
       'Singapore', 'Serbia', 'Slovak Republic', 'Slovenia', 'Sweden',
       'Chinese Taipei', 'Thailand', 'Tunisia', 'Turkey', 'Uruguay',
       'United States of America', 'Vietnam'], dtype=object)

In [10]:
pisa2012.CNT.value_counts()

Mexico                             33806
Italy                              31073
Spain                              25313
Canada                             21544
Brazil                             19204
Australia                          14481
United Arab Emirates               11500
Switzerland                        11229
Qatar                              10966
United States of America           10294
United Kingdom (excl.Scotland)      9714
Colombia                            9073
Finland                             8829
Belgium                             8597
Denmark                             7481
Jordan                              7038
Chile                               6856
Thailand                            6606
Japan                               6351
Chinese Taipei                      6046
Peru                                6035
Slovenia                            5911
Argentina                           5908
Kazakhstan                          5808
Portugal                            5722
Indonesia                           5622
Singapore                           5546
Macao-China                         5335
Czech Republic                      5327
Uruguay                             5315
                                   ...
Romania                             5074
Israel                              5055
Republic of Korea                   5033
Ireland                             5016
Croatia                             5008
Germany                             5001
Viet Nam                            4959
Turkey                              4848
Hungary                             4810
Estonia                             4779
Austria                             4755
Montenegro                          4744
Albania                             4743
Sweden                              4736
Norway                              4686
Serbia                              4684
Slovak Republic                     4678
Hong Kong-China                     4670
Lithuania                           4618
France                              4613
Poland                              4607
Costa Rica                          4602
Netherlands                         4460
Tunisia                             4407
Latvia                              4306
New Zealand                         4291
Iceland                             3508
United Kingdom (Scotland)           2945
Perm (Russian Federation)           1761
Liechtenstein                        293
Name: NC, Length: 66, dtype: int64

In [69]:
## Names of nations in OECD
pisa2012[pisa2012['OECD']=='OECD'].CNT.unique()

array(['Australia', 'Austria', 'Belgium', 'Canada', 'Switzerland',
       'Chile', 'Czech Republic', 'Germany', 'Denmark', 'Spain',
       'Estonia', 'Finland', 'France', 'United Kingdom', 'Greece',
       'Hungary', 'Ireland', 'Iceland', 'Israel', 'Italy', 'Japan',
       'Korea', 'Luxembourg', 'Mexico', 'Netherlands', 'Norway',
       'New Zealand', 'Poland', 'Portugal', 'Slovak Republic', 'Slovenia',
       'Sweden', 'Turkey', 'United States of America'], dtype=object)

In [12]:
## counts by Nations : OECD
pisa2012[pisa2012['OECD']=='OECD'].CNT.value_counts()

Mexico                             33806
Italy                              31073
Spain                              25313
Canada                             21544
Australia                          14481
Switzerland                        11229
United Kingdom (excl.Scotland)      9714
Finland                             8829
Belgium                             8597
Denmark                             7481
Chile                               6856
Japan                               6351
Slovenia                            5911
Portugal                            5722
Czech Republic                      5327
Luxembourg                          5258
Greece                              5125
Israel                              5055
Republic of Korea                   5033
Ireland                             5016
Germany                             5001
United States of America            4978
Turkey                              4848
Hungary                             4810
Estonia                             4779
Austria                             4755
Sweden                              4736
Norway                              4686
Slovak Republic                     4678
France                              4613
Poland                              4607
Netherlands                         4460
New Zealand                         4291
Iceland                             3508
United Kingdom (Scotland)           2945
Name: NC, dtype: int64

In [13]:
## International Grade
pisa2012['ST01Q01'].value_counts()

10    262631
9     152850
11     38397
8      23764
7       3536
12      3436
96       873
13         3
Name: ST01Q01, dtype: int64

In [14]:
## gender
pisa2012['ST04Q01'].value_counts()

Female    245064
Male      240426
Name: ST04Q01, dtype: int64

In [15]:
### out of school study time
# ST57Q01: Homework"
# ST57Q02: Guided Homework"
# ST57Q03: Personal Tutor"
# ST57Q04: Commercial Company"
# ST57Q05: With Parent
# ST57Q06: Computer
pisa2012[['ST57Q01','ST57Q02','ST57Q03','ST57Q04','ST57Q05','ST57Q06']].describe()

,ST57Q01,ST57Q02,ST57Q03,ST57Q04,ST57Q05,ST57Q06
count,301367.000000,269808.000000,283813.000000,279657.000000,289502.000000,289428.000000
mean,5.493770,1.623629,0.954044,0.911821,1.213363,1.583081
std,5.383815,2.591569,2.162574,2.362377,2.353292,2.760885
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,1.000000,0.000000,0.000000,0.000000,1.000000
75%,7.000000,2.000000,1.000000,1.000000,2.000000,2.000000
max,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000

In [16]:
interest = ['ST29Q01','ST29Q03','ST29Q04','ST29Q06']
for i in interest:
    print("Math Interest"+"("+i+")"+"\n"+str(pisa2012[i].value_counts(normalize=True)))

Math Interest(ST29Q01)
Disagree             0.389027
Agree                0.318473
Strongly disagree    0.201443
Strongly agree       0.091057
Name: ST29Q01, dtype: float64
Math Interest(ST29Q03)
Disagree             0.376305
Agree                0.334064
Strongly disagree    0.178269
Strongly agree       0.111362
Name: ST29Q03, dtype: float64
Math Interest(ST29Q04)
Disagree             0.371586
Agree                0.321881
Strongly disagree    0.172932
Strongly agree       0.133600
Name: ST29Q04, dtype: float64
Math Interest(ST29Q06)
Agree                0.436206
Disagree             0.283591
Strongly agree       0.178109
Strongly disagree    0.102095
Name: ST29Q06, dtype: float64

In [17]:
motivation = ['ST29Q02','ST29Q05','ST29Q07','ST29Q08']
for i in motivation:
    print("Instrumental motivation"+"("+i+")"+"\n"+str(pisa2012[i].value_counts(normalize=True)))

Instrumental motivation(ST29Q02)
Agree                0.476995
Strongly agree       0.307896
Disagree             0.157833
Strongly disagree    0.057276
Name: ST29Q02, dtype: float64
Instrumental motivation(ST29Q05)
Agree                0.486351
Strongly agree       0.315404
Disagree             0.140272
Strongly disagree    0.057973
Name: ST29Q05, dtype: float64
Instrumental motivation(ST29Q07)
Agree                0.419376
Strongly agree       0.287146
Disagree             0.209013
Strongly disagree    0.084465
Name: ST29Q07, dtype: float64
Instrumental motivation(ST29Q08)
Agree                0.476941
Strongly agree       0.270391
Disagree             0.183830
Strongly disagree    0.068838
Name: ST29Q08, dtype: float64

In [18]:
subnorms=['ST35Q01','ST35Q02','ST35Q03','ST35Q04','ST35Q05','ST35Q06']
for i in subnorms:
    print("Subjective norms"+"("+i+")"+"\n"+str(pisa2012[i].value_counts(normalize=True)))

Subjective norms(ST35Q01)
Agree                0.505221
Disagree             0.340733
Strongly agree       0.107348
Strongly disagree    0.046698
Name: ST35Q01, dtype: float64
Subjective norms(ST35Q02)
Agree                0.445799
Disagree             0.395405
Strongly agree       0.101356
Strongly disagree    0.057441
Name: ST35Q02, dtype: float64
Subjective norms(ST35Q03)
Disagree             0.521223
Strongly disagree    0.256538
Agree                0.171653
Strongly agree       0.050585
Name: ST35Q03, dtype: float64
Subjective norms(ST35Q04)
Agree                0.487667
Strongly agree       0.419815
Disagree             0.073981
Strongly disagree    0.018537
Name: ST35Q04, dtype: float64
Subjective norms(ST35Q05)
Agree                0.460083
Strongly agree       0.365617
Disagree             0.146988
Strongly disagree    0.027312
Name: ST35Q05, dtype: float64
Subjective norms(ST35Q06)
Agree                0.475052
Disagree             0.299669
Strongly agree       0.157912
Strongly disagree    0.067367
Name: ST35Q06, dtype: float64

In [19]:
efficacy = ['ST37Q01','ST37Q02','ST37Q03','ST37Q04','ST37Q05','ST37Q06','ST37Q07','ST37Q08']
for i in efficacy:
     print("Math Self-efficacy"+"("+i+")"+"\n"+str(pisa2012[i].value_counts(normalize=True)))

Math Self-efficacy(ST37Q01)
Confident               0.447089
Very confident          0.317336
Not very confident      0.197306
Not at all confident    0.038269
Name: ST37Q01, dtype: float64
Math Self-efficacy(ST37Q02)
Confident               0.410916
Very confident          0.380940
Not very confident      0.173296
Not at all confident    0.034848
Name: ST37Q02, dtype: float64
Math Self-efficacy(ST37Q03)
Confident               0.384819
Very confident          0.299650
Not very confident      0.260212
Not at all confident    0.055320
Name: ST37Q03, dtype: float64
Math Self-efficacy(ST37Q04)
Confident               0.439729
Very confident          0.330972
Not very confident      0.189658
Not at all confident    0.039641
Name: ST37Q04, dtype: float64
Math Self-efficacy(ST37Q05)
Very confident          0.545874
Confident               0.302968
Not very confident      0.115084
Not at all confident    0.036074
Name: ST37Q05, dtype: float64
Math Self-efficacy(ST37Q06)
Not very confident      0.348819
Confident               0.333661
Very confident          0.227638
Not at all confident    0.089882
Name: ST37Q06, dtype: float64
Math Self-efficacy(ST37Q07)
Very confident          0.402493
Confident               0.344703
Not very confident      0.191801
Not at all confident    0.061002
Name: ST37Q07, dtype: float64
Math Self-efficacy(ST37Q08)
Confident               0.372230
Not very confident      0.335696
Very confident          0.204847
Not at all confident    0.087227
Name: ST37Q08, dtype: float64

In [20]:
anxiety = ['ST42Q01','ST42Q03','ST42Q05','ST42Q08','ST42Q10']
for i in anxiety:
    print("Math Anxiety"+"("+i+")"+"\n"+str(pisa2012[i].value_counts(normalize=True)))

Math Anxiety(ST42Q01)
Agree                0.428507
Disagree             0.265597
Strongly agree       0.218878
Strongly disagree    0.087018
Name: ST42Q01, dtype: float64
Math Anxiety(ST42Q03)
Disagree             0.434736
Agree                0.258364
Strongly disagree    0.193304
Strongly agree       0.113596
Name: ST42Q03, dtype: float64
Math Anxiety(ST42Q05)
Disagree             0.450042
Agree                0.271288
Strongly disagree    0.175741
Strongly agree       0.102929
Name: ST42Q05, dtype: float64
Math Anxiety(ST42Q08)
Disagree             0.462209
Agree                0.240594
Strongly disagree    0.203104
Strongly agree       0.094093
Name: ST42Q08, dtype: float64
Math Anxiety(ST42Q10)
Agree                0.376941
Strongly agree       0.310967
Disagree             0.203012
Strongly disagree    0.109080
Name: ST42Q10, dtype: float64

In [21]:
concept=['ST42Q02','ST42Q04','ST42Q06','ST42Q07','ST42Q09']
for i in concept:
    print("Math Self-concept"+"("+i+")"+"\n"+str(pisa2012[i].value_counts(normalize=True)))

Math Self-concept(ST42Q02)
Disagree             0.378492
Agree                0.292856
Strongly disagree    0.164669
Strongly agree       0.163983
Name: ST42Q02, dtype: float64
Math Self-concept(ST42Q04)
Agree                0.433868
Disagree             0.310469
Strongly agree       0.163046
Strongly disagree    0.092618
Name: ST42Q04, dtype: float64
Math Self-concept(ST42Q06)
Agree                0.381037
Disagree             0.357065
Strongly agree       0.147355
Strongly disagree    0.114543
Name: ST42Q06, dtype: float64
Math Self-concept(ST42Q07)
Disagree             0.353823
Agree                0.249284
Strongly disagree    0.238215
Strongly agree       0.158678
Name: ST42Q07, dtype: float64
Math Self-concept(ST42Q09)
Disagree             0.419393
Agree                0.300811
Strongly disagree    0.183052
Strongly agree       0.096745
Name: ST42Q09, dtype: float64

In [22]:
pisa2012['ESCS'].describe()

count    473648.000000
mean         -0.265546
std           1.131791
min          -5.950000
25%          -1.000000
50%          -0.190000
75%           0.610000
max           3.690000
Name: ESCS, dtype: float64

In [23]:
plausible_math=['PV1MATH','PV2MATH','PV3MATH','PV4MATH','PV5MATH']
pisa2012[plausible_math].describe()

,PV1MATH,PV2MATH,PV3MATH,PV4MATH,PV5MATH
count,485490.000000,485490.000000,485490.000000,485490.000000,485490.000000
mean,469.621653,469.648358,469.648930,469.641832,469.695396
std,103.265391,103.382077,103.407631,103.392286,103.419170
min,19.792800,6.473000,42.226200,24.622200,37.085200
25%,395.318600,395.318600,395.240700,395.396500,395.240700
50%,466.201900,466.124000,466.201900,466.279800,466.435600
75%,541.057800,541.447300,541.291500,541.447300,541.447300
max,962.229300,957.010400,935.745400,943.456900,907.625800

#### Assessing summary  <br>  
  
 - filter OECE country
 - remove unnecessary columns
 - rename column names more interpretable
 - recode attribute columns to integer(e.g. 1: strongly disagree, 2: disagree, ...)
 - combine attribute columns into single column(e.g. Math interest, Instrumental motivation, ...)
 - combine plausible value columns of math achievement into single column.
 - remove cases which have invalid international grades(e.g.`96`)
 - drop cases which have some missing values

### Clean

In [24]:
pisa2012_copy=pisa2012.copy()

#### 1. filter OECD country

##### Define
 - filter OECD country

##### Code

In [25]:
pisa2012_copy = pisa2012_copy[pisa2012_copy['OECD']=="OECD"]

##### Test

In [27]:
pisa2012_copy.OECD.value_counts()

OECD    295416
Name: OECD, dtype: int64

#### 2. remove unnecessary columns

##### Define
 - Some unnecessary columns in dataset could be removed.

##### Code

In [28]:
used_columns = [
    'CNT',
    'SUBNATIO',
    'STRATUM',
    'OECD',
    'NC',
    'SCHOOLID',
    'STIDSTD',
    'ST01Q01',
    'ST04Q01'
] + interest + motivation+ subnorms+efficacy+anxiety+concept

In [29]:
used_columns = used_columns+['ESCS']+plausible_math

In [30]:
pisa2012_copy = pisa2012_copy[used_columns]

##### Test

In [31]:
pisa2012_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 295416 entries, 22151 to 480530
Data columns (total 47 columns):
CNT         295416 non-null object
SUBNATIO    295416 non-null int64
STRATUM     295416 non-null object
OECD        295416 non-null object
NC          295416 non-null object
SCHOOLID    295416 non-null int64
STIDSTD     295416 non-null int64
ST01Q01     295416 non-null int64
ST04Q01     295416 non-null object
ST29Q01     192729 non-null object
ST29Q03     192256 non-null object
ST29Q04     192137 non-null object
ST29Q06     192110 non-null object
ST29Q02     192510 non-null object
ST29Q05     192489 non-null object
ST29Q07     192289 non-null object
ST29Q08     192296 non-null object
ST35Q01     192591 non-null object
ST35Q02     192340 non-null object
ST35Q03     192258 non-null object
ST35Q04     192376 non-null object
ST35Q05     192070 non-null object
ST35Q06     190861 non-null object
ST37Q01     192327 non-null object
ST37Q02     192443 non-null object
ST37Q03     192173 non-null object
ST37Q04     191938 non-null object
ST37Q05     192176 non-null object
ST37Q06     192052 non-null object
ST37Q07     192181 non-null object
ST37Q08     192157 non-null object
ST42Q01     191915 non-null object
ST42Q03     191218 non-null object
ST42Q05     191470 non-null object
ST42Q08     191275 non-null object
ST42Q10     191375 non-null object
ST42Q02     191733 non-null object
ST42Q04     190802 non-null object
ST42Q06     191107 non-null object
ST42Q07     191407 non-null object
ST42Q09     190989 non-null object
ESCS        290304 non-null float64
PV1MATH     295416 non-null float64
PV2MATH     295416 non-null float64
PV3MATH     295416 non-null float64
PV4MATH     295416 non-null float64
PV5MATH     295416 non-null float64
dtypes: float64(6), int64(4), object(37)
memory usage: 108.2+ MB

In [32]:
pisa2012_copy.head()

,CNT,SUBNATIO,STRATUM,OECD,NC,SCHOOLID,STIDSTD,ST01Q01,ST04Q01,ST29Q01,...,ST42Q04,ST42Q06,ST42Q07,ST42Q09,ESCS,PV1MATH,PV2MATH,PV3MATH,PV4MATH,PV5MATH
22151,Australia,360000,AUS0309,OECD,Australia,1,1,10,Female,NaN,...,Agree,Strongly agree,Agree,Agree,0.70,561.5439,569.3332,555.3124,578.6805,548.3019
22152,Australia,360000,AUS0309,OECD,Australia,1,2,10,Female,NaN,...,Strongly agree,Agree,Agree,Agree,-1.17,564.8154,557.0260,553.1313,538.3315,573.3837
22153,Australia,360000,AUS0309,OECD,Australia,1,3,10,Female,Disagree,...,NaN,NaN,NaN,NaN,0.01,507.3298,547.0556,511.2245,454.3621,546.2767
22154,Australia,360000,AUS0309,OECD,Australia,1,4,10,Male,Disagree,...,NaN,NaN,NaN,NaN,0.77,601.7370,593.9477,551.8850,526.1801,618.8737
22155,Australia,360000,AUS0309,OECD,Australia,1,5,10,Male,NaN,...,Disagree,Agree,Agree,Agree,0.80,520.1823,506.9403,500.7088,520.9612,547.4451

#### 3. rename column names more readable

##### Define  <br>  
 - rename column names more readable

##### Code

In [33]:
column_rename_step1 = {
    'ST01Q01': 'Grade',
    'ST04Q01': 'Gender',
    'ST29Q01': 'interest1',
    'ST29Q03': 'interest2',
    'ST29Q04': 'interest3',
    'ST29Q06': 'interest4',
    'ST29Q02': 'motiv1',
    'ST29Q05':'motiv2',
    'ST29Q07':'motiv3',
    'ST29Q08':'motiv4'
}

In [34]:
pisa2012_copy.rename(columns=column_rename_step1,inplace=True)

In [35]:
### subjective norm
rename_subnorm = []
for col in subnorms: 
    renam = col.replace("ST35Q0","snorm")
    rename_subnorm.append(renam)
print(rename_subnorm)
column_rename_step2 = dict(zip(subnorms,rename_subnorm))
pisa2012_copy.rename(columns=column_rename_step2,inplace=True)

['snorm1', 'snorm2', 'snorm3', 'snorm4', 'snorm5', 'snorm6']

In [39]:
### Math Self-efficacy
rename_efficacy = []
for col in efficacy:
    renam = col.replace("ST37Q0","efficacy")
    rename_efficacy.append(renam)
print(rename_efficacy)
column_rename_step3 = dict(zip(efficacy,rename_efficacy))
pisa2012_copy.rename(columns=column_rename_step3, inplace=True)

['efficacy1', 'efficacy2', 'efficacy3', 'efficacy4', 'efficacy5', 'efficacy6', 'efficacy7', 'efficacy8']

In [36]:
### Math anxiety
anxiety
loca = 0
rename_anxiety = []
for col in anxiety:
    loca +=1
    renam = col.replace(str(col),str("anxiety")+str(loca))
    rename_anxiety.append(renam)
print(rename_anxiety)
column_rename_step4 = dict(zip(anxiety,rename_anxiety))
pisa2012_copy.rename(columns=column_rename_step4, inplace=True)

['anxiety1', 'anxiety2', 'anxiety3', 'anxiety4', 'anxiety5']

In [37]:
### Math Self-concept
concept
loca = 0
rename_concept = []
for col in concept:
    loca += 1
    renam = col.replace(str(col),str("self_concept")+str(loca))
    rename_concept.append(renam)
print(rename_concept)
column_rename_step5 = dict(zip(concept,rename_concept))
pisa2012_copy.rename(columns=column_rename_step5, inplace=True)

['self_concept1', 'self_concept2', 'self_concept3', 'self_concept4', 'self_concept5']

##### Test

In [40]:
pisa2012_copy.info()
pisa2012_copy.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 295416 entries, 22151 to 480530
Data columns (total 47 columns):
CNT              295416 non-null object
SUBNATIO         295416 non-null int64
STRATUM          295416 non-null object
OECD             295416 non-null object
NC               295416 non-null object
SCHOOLID         295416 non-null int64
STIDSTD          295416 non-null int64
Grade            295416 non-null int64
Gender           295416 non-null object
interest1        192729 non-null object
interest2        192256 non-null object
interest3        192137 non-null object
interest4        192110 non-null object
motiv1           192510 non-null object
motiv2           192489 non-null object
motiv3           192289 non-null object
motiv4           192296 non-null object
snorm1           192591 non-null object
snorm2           192340 non-null object
snorm3           192258 non-null object
snorm4           192376 non-null object
snorm5           192070 non-null object
snorm6           190861 non-null object
efficacy1        192327 non-null object
efficacy2        192443 non-null object
efficacy3        192173 non-null object
efficacy4        191938 non-null object
efficacy5        192176 non-null object
efficacy6        192052 non-null object
efficacy7        192181 non-null object
efficacy8        192157 non-null object
anxiety1         191915 non-null object
anxiety2         191218 non-null object
anxiety3         191470 non-null object
anxiety4         191275 non-null object
anxiety5         191375 non-null object
self_concept1    191733 non-null object
self_concept2    190802 non-null object
self_concept3    191107 non-null object
self_concept4    191407 non-null object
self_concept5    190989 non-null object
ESCS             290304 non-null float64
PV1MATH          295416 non-null float64
PV2MATH          295416 non-null float64
PV3MATH          295416 non-null float64
PV4MATH          295416 non-null float64
PV5MATH          295416 non-null float64
dtypes: float64(6), int64(4), object(37)
memory usage: 108.2+ MB

,CNT,SUBNATIO,STRATUM,OECD,NC,SCHOOLID,STIDSTD,Grade,Gender,interest1,...,self_concept2,self_concept3,self_concept4,self_concept5,ESCS,PV1MATH,PV2MATH,PV3MATH,PV4MATH,PV5MATH
22151,Australia,360000,AUS0309,OECD,Australia,1,1,10,Female,NaN,...,Agree,Strongly agree,Agree,Agree,0.70,561.5439,569.3332,555.3124,578.6805,548.3019
22152,Australia,360000,AUS0309,OECD,Australia,1,2,10,Female,NaN,...,Strongly agree,Agree,Agree,Agree,-1.17,564.8154,557.0260,553.1313,538.3315,573.3837
22153,Australia,360000,AUS0309,OECD,Australia,1,3,10,Female,Disagree,...,NaN,NaN,NaN,NaN,0.01,507.3298,547.0556,511.2245,454.3621,546.2767
22154,Australia,360000,AUS0309,OECD,Australia,1,4,10,Male,Disagree,...,NaN,NaN,NaN,NaN,0.77,601.7370,593.9477,551.8850,526.1801,618.8737
22155,Australia,360000,AUS0309,OECD,Australia,1,5,10,Male,NaN,...,Disagree,Agree,Agree,Agree,0.80,520.1823,506.9403,500.7088,520.9612,547.4451

#### 4. recode the type of attribute columns to integer

##### Define
 - recode the type of attribute columns to integer

##### Code

In [41]:
recode_1 = {
    'Strongly disagree':1,
    'Disagree':2,
    'Agree':3,
    'Strongly agree':4
}
recode_2 = {
    'Not at all confident':1,
    'Not very confident':2,
    'Confident':3,
    'Very confident':4
}

In [42]:
## interest : recode_1
## motiv: recode_1
## snorm: recode_1
## efficacy: recode_2
## anxiety: recode_1
## self_concept: recode_1
### replace columns except efficacy: recode_1
varnames_recode1=['interest','motiv','snorm','anxiety','self_concept']
for varname in varnames_recode1:
    colsel = list(pisa2012_copy.columns[pisa2012_copy.columns.str.contains(varname)])
    print(colsel)
    pisa2012_copy[colsel] = pisa2012_copy[colsel].replace(recode_1)

['interest1', 'interest2', 'interest3', 'interest4']
['motiv1', 'motiv2', 'motiv3', 'motiv4']
['snorm1', 'snorm2', 'snorm3', 'snorm4', 'snorm5', 'snorm6']
['anxiety1', 'anxiety2', 'anxiety3', 'anxiety4', 'anxiety5']
['self_concept1', 'self_concept2', 'self_concept3', 'self_concept4', 'self_concept5']

In [43]:
## replace self-efficacy: recode_2
colsel = list(pisa2012_copy.columns[pisa2012_copy.columns.str.contains('efficacy')])
pisa2012_copy[colsel] = pisa2012_copy[colsel].replace(recode_2)

##### Test

In [44]:
pisa2012_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 295416 entries, 22151 to 480530
Data columns (total 47 columns):
CNT              295416 non-null object
SUBNATIO         295416 non-null int64
STRATUM          295416 non-null object
OECD             295416 non-null object
NC               295416 non-null object
SCHOOLID         295416 non-null int64
STIDSTD          295416 non-null int64
Grade            295416 non-null int64
Gender           295416 non-null object
interest1        192729 non-null float64
interest2        192256 non-null float64
interest3        192137 non-null float64
interest4        192110 non-null float64
motiv1           192510 non-null float64
motiv2           192489 non-null float64
motiv3           192289 non-null float64
motiv4           192296 non-null float64
snorm1           192591 non-null float64
snorm2           192340 non-null float64
snorm3           192258 non-null float64
snorm4           192376 non-null float64
snorm5           192070 non-null float64
snorm6           190861 non-null float64
efficacy1        192327 non-null float64
efficacy2        192443 non-null float64
efficacy3        192173 non-null float64
efficacy4        191938 non-null float64
efficacy5        192176 non-null float64
efficacy6        192052 non-null float64
efficacy7        192181 non-null float64
efficacy8        192157 non-null float64
anxiety1         191915 non-null float64
anxiety2         191218 non-null float64
anxiety3         191470 non-null float64
anxiety4         191275 non-null float64
anxiety5         191375 non-null float64
self_concept1    191733 non-null float64
self_concept2    190802 non-null float64
self_concept3    191107 non-null float64
self_concept4    191407 non-null float64
self_concept5    190989 non-null float64
ESCS             290304 non-null float64
PV1MATH          295416 non-null float64
PV2MATH          295416 non-null float64
PV3MATH          295416 non-null float64
PV4MATH          295416 non-null float64
PV5MATH          295416 non-null float64
dtypes: float64(38), int64(4), object(5)
memory usage: 108.2+ MB

#### 5. Combine columns part 1: attribute columns

##### Define

##### Code

In [51]:
varnames = ['interest','motiv','snorm','efficacy','anxiety','self_concept']
for varname in varnames:
    colsel = list(pisa2012_copy.columns[pisa2012_copy.columns.str.contains(varname)])
    print(colsel)
    pisa2012_copy[varname] = pisa2012_copy[colsel].mean(axis=1, skipna=True)

['interest1', 'interest2', 'interest3', 'interest4']
['motiv1', 'motiv2', 'motiv3', 'motiv4']
['snorm1', 'snorm2', 'snorm3', 'snorm4', 'snorm5', 'snorm6']
['efficacy1', 'efficacy2', 'efficacy3', 'efficacy4', 'efficacy5', 'efficacy6', 'efficacy7', 'efficacy8']
['anxiety1', 'anxiety2', 'anxiety3', 'anxiety4', 'anxiety5']
['self_concept1', 'self_concept2', 'self_concept3', 'self_concept4', 'self_concept5']

##### Test

In [55]:
pisa2012_copy[varnames].head()

       interest  motiv     snorm  efficacy  anxiety  self_concept
22151       NaN    NaN       NaN       NaN      2.0           2.8
22152       NaN    NaN       NaN       NaN      1.8           2.8
22153      2.25   4.00  2.833333     2.875      NaN           NaN
22154      2.00   2.75  3.166667     3.500      NaN           NaN
22155       NaN    NaN       NaN       NaN      2.8           2.6

In [56]:
pisa2012_copy[varnames].describe()

,interest,motiv,snorm,efficacy,anxiety,self_concept
count,193193.000000,193117.000000,193259.000000,192929.000000,192377.000000,192370.000000
mean,2.327664,2.946449,2.696641,3.025048,2.442405,2.437868
std,0.771037,0.755263,0.456989,0.590698,0.696870,0.505592
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.750000,2.500000,2.400000,2.625000,2.000000,2.000000
50%,2.250000,3.000000,2.666667,3.000000,2.400000,2.400000
75%,3.000000,3.500000,3.000000,3.500000,3.000000,2.800000
max,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000

#### 6. Combine columns part 2: Plausible values of Math achievement

##### Define

##### Code

In [58]:
pisa2012_copy['MATH'] = pisa2012_copy[['PV1MATH','PV2MATH','PV3MATH','PV4MATH','PV5MATH']].mean(axis=1,skipna=True)

##### Test

In [59]:
print(pisa2012_copy['MATH'].head())
pisa2012_copy['MATH'].describe()

22151    562.63438
22152    557.33758
22153    513.24974
22154    578.52470
22155    519.24754
Name: MATH, dtype: float64

count    295416.000000
mean        488.401237
std          92.822579
min          78.836260
25%         421.802460
50%         487.389000
75%         554.066060
max         848.348660
Name: MATH, dtype: float64

#### 7. Remove cases which have invalid international grades(e.g.`96`)

##### Define

##### Code

In [60]:
## drop 96 and 13 grade
print(pisa2012_copy.Grade.value_counts())

pisa2012_copy = pisa2012_copy.query("Grade!=96 and Grade!=13")

10    170628
9      86272
11     21319
8      13007
12      2473
7       1087
96       627
13         3
Name: Grade, dtype: int64

##### Test

In [61]:
pisa2012_copy.Grade.value_counts()

10    170628
9      86272
11     21319
8      13007
12      2473
7       1087
Name: Grade, dtype: int64

#### 8. select necessary columns

##### Define

##### Code

In [62]:
pisa2012_copy = pisa2012_copy[['CNT','SUBNATIO','OECD','NC','SCHOOLID','STIDSTD','Grade','Gender',
             'interest','snorm','efficacy',
             'anxiety','self_concept','ESCS','MATH']]

##### Test

In [63]:
pisa2012_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 294786 entries, 22151 to 480530
Data columns (total 15 columns):
CNT             294786 non-null object
SUBNATIO        294786 non-null int64
OECD            294786 non-null object
NC              294786 non-null object
SCHOOLID        294786 non-null int64
STIDSTD         294786 non-null int64
Grade           294786 non-null int64
Gender          294786 non-null object
interest        192859 non-null float64
snorm           192923 non-null float64
efficacy        192593 non-null float64
anxiety         192038 non-null float64
self_concept    192031 non-null float64
ESCS            289724 non-null float64
MATH            294786 non-null float64
dtypes: float64(7), int64(4), object(4)
memory usage: 36.0+ MB

#### 9. Final:  Remove cases which have some missing values and store cleaned dataset

##### Define

##### Code

In [64]:
### Check the number of missing values by columns
print(pisa2012_copy.isnull().sum(axis=0))

CNT                  0
SUBNATIO             0
OECD                 0
NC                   0
SCHOOLID             0
STIDSTD              0
Grade                0
Gender               0
interest        101927
snorm           101863
efficacy        102193
anxiety         102748
self_concept    102755
ESCS              5062
MATH                 0
dtype: int64

In [65]:
pisa2012_copy = pisa2012_copy.dropna(axis=0)

##### Test

In [66]:
pisa2012_copy.describe()

,SUBNATIO,SCHOOLID,STIDSTD,Grade,interest,snorm,efficacy,anxiety,self_concept,ESCS,MATH
count,9.458800e+04,94588.000000,94588.000000,94588.000000,94588.000000,94588.000000,94588.000000,94588.000000,94588.000000,94588.000000,94588.000000
mean,4.302058e+06,311.048283,7733.582061,9.704963,2.309268,2.693925,3.035810,2.476426,2.453283,-0.055560,491.752259
std,2.408036e+06,321.004111,7854.372704,0.713150,0.787461,0.469674,0.588663,0.665695,0.508496,1.051428,90.927979
min,3.600000e+05,1.000000,1.000000,7.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-5.620000,158.833160
25%,2.460000e+06,84.000000,2185.000000,9.000000,1.750000,2.333333,2.625000,2.000000,2.200000,-0.750000,426.320295
50%,3.920000e+06,174.000000,4409.000000,10.000000,2.250000,2.666667,3.000000,2.400000,2.400000,0.010000,490.076330
75%,7.030000e+06,454.000000,11030.000000,10.000000,3.000000,3.000000,3.500000,3.000000,2.800000,0.770000,555.701820
max,8.400000e+06,1471.000000,33805.000000,12.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.270000,848.348660

##### Store

In [70]:
pisa2012_copy.to_csv('pisa2012_clean.csv',index=False)

## Exploratory analysis